# Compiler files
cache/
out/

# Clean some JSON files
build/contracts/*.t.sol
build/contracts/*.s.sol

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# Dotenv file
.env

# VSCode settings.
.vscode/

# Other stuff
.DS_Store
